Use a python module containing datasets as a source from the iris data. Create a pandas dataframe, df_iris, from this data.

Aquire

In [22]:
import wrangle
from env import host, user, password
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import acquire
url = f'mysql+pymysql://{user}:{password}@{host}iris_db'
from pydataset import data
import acquire
import env
import warnings
warnings.filterwarnings('ignore')
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import MinMaxScaler
from env import host, user, password
import sys
from sklearn.impute import SimpleImputer
import split_scale
import explore

In [23]:
df_iris= data('iris')

print the first 3 rows
print the number of rows and columns (shape)
print the column names
print the data type of each column
print the summary statistics for each of the numeric variables. Would you recommend rescaling the data based on these statistics?

In [24]:
df_iris= wrangle.wrangle_iris()

   measurement_id  sepal_length  sepal_width  petal_length  petal_width  \
0               1           5.1          3.5           1.4          0.2
1               2           4.9          3.0           1.4          0.2
2               3           4.7          3.2           1.3          0.2

   species_id  species_id species_name
0           1           1       setosa
1           1           1       setosa
2           1           1       setosa
(150, 8)
Index(['measurement_id', 'sepal_length', 'sepal_width', 'petal_length',
       'petal_width', 'species_id', 'species_id', 'species_name'],
      dtype='object')
measurement_id      int64
sepal_length      float64
sepal_width       float64
petal_length      float64
petal_width       float64
species_id          int64
species_id          int64
species_name       object
dtype: object
       measurement_id  sepal_length  sepal_width  petal_length  petal_width  \
count      150.000000    150.000000   150.000000    150.000000   150.000000
mean        75.500000      5.843333     3.057333      3.758000     1.199333
std         43.445368      0.828066     0.435866      1.765298     0.762238
min          1.000000      4.300000     2.000000      1.000000     0.100000
25%         38.250000      5.100000     2.800000      1.600000     0.300000
50%         75.500000      5.800000     3.000000      4.350000     1.300000
75%        112.750000      6.400000     3.300000      5.100000     1.800000
max        150.000000      7.900000     4.400000      6.900000     2.500000

       species_id  species_id
count  150.000000  150.000000
mean     2.000000    2.000000
std      0.819232    0.819232
min      1.000000    1.000000
25%      1.000000    1.000000
50%      2.000000    2.000000
75%      3.000000    3.000000
max      3.000000    3.000000

2. Read Table1_CustDetails the excel module dataset, Excel_Exercises.xlsx, into a dataframe, df_excel

In [25]:
df_excel= wrangle.excel_reader()

Index(['customer_id', 'gender', 'is_senior_citizen', 'partner', 'dependents'], dtype='object')
customer_id         object
gender              object
partner             object
dependents          object
payment_type        object
churn               object
Contract Type       object
Phone Service       object
Internet service    object
dtype: object
     is_senior_citizen  phone_service  internet_service  contract_type  \
min                0.0            0.0               0.0            0.0
max                1.0            2.0               2.0            2.0

     monthly_charges  total_charges  Tenure (months)  partners_dependants   \
min            18.25           18.8              0.0                   0.0
max           118.75         8684.8             79.0                   3.0

     Average monthly charges
min                     15.6
max                    121.4

In [28]:
num_cols=list(df_excel.dtypes[df_excel.dtypes!='object'].index)

AttributeError: 'tuple' object has no attribute 'dtypes'

In [ ]:
print(df_excel[num_cols].max()-df_excel[num_cols].min())

In [ ]:
sheet_url = 'https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit#gid=341089357'    

csv_export_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')

df_google = pd.read_csv(csv_export_url)
df_google.head()

In [ ]:
df_google.head(3)

In [ ]:
df_google.shape

In [9]:
df_google.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [10]:
df_google.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [11]:
for col in df_google:
    if df_google[col].dtype=='O':
       print(df_google[col].value_counts()[0:5])

Parkes, Mr. Francis "Frank"       1
Baumann, Mr. John D               1
Doling, Miss. Elsie               1
Williams, Mr. Charles Eugene      1
Meanwell, Miss. (Marion Ogden)    1
Name: Name, dtype: int64
male      577
female    314
Name: Sex, dtype: int64
347082      7
1601        7
CA. 2343    7
347088      6
3101295     6
Name: Ticket, dtype: int64
C23 C25 C27    4
G6             4
B96 B98        4
D              3
E101           3
Name: Cabin, dtype: int64
S    644
C    168
Q     77
Name: Embarked, dtype: int64

Iris Data base

In [33]:
df_iris.columns

Index(['measurement_id', 'sepal_length', 'sepal_width', 'petal_length',
       'petal_width', 'species_id', 'species_id', 'species_name'],
      dtype='object')

In [36]:
train_iris, test_iris= split_scale.split_my_data(df_iris, .7, 123)

train_iris.columns

Index(['measurement_id', 'sepal_length', 'sepal_width', 'petal_length',
       'petal_width', 'species_id', 'species_id', 'species_name'],
      dtype='object')

##Create a swarmplot using a melted dataframe of all your numeric variables. 
The x-axis is the variable name, the y-axis is the measure. Add another dimension using color to represent 
species. Document takeaways from this visualization.

In [31]:
#Create a swarmplot using a melted dataframe of all your numeric variables. The x-axis is the variable name, 
#the y-axis is the measure. Add another dimension using color to represent species. Document takeaways from 
#this visualization.
df_iris= pd.DataFrame(df_iris)

Create 4 subplots (2 rows x 2 columns) of scatterplots

Create a heatmap of each variable layering correlation coefficient on top.

Create a scatter matrix visualizing the interaction of each variable

Is the sepal length significantly different in virginica compared to versicolor? Run an experiment to test this.