In [3]:
# ignore warnings
import warnings
warnings.filterwarnings("ignore")

# Wrangling
import pandas as pd
import numpy as np

# Visualizing
%matplotlib inline
import matplotlib.pyplot as plt
from matplotlib import cm
import seaborn as sns

# Modeling
from sklearn.cluster import KMeans
from sklearn.preprocessing import LabelEncoder

# Though the following import is not directly being used, it is required
# for 3D projection to work
from mpl_toolkits.mplot3d import Axes3D

pd.options.display.float_format = '{:20,.2f}'.format

from env import user, host, password
import acquire
import summarize
import prepare

np.random.seed(5)

iris = acquire.get_iris_data()
iris.columns= [c.lower().replace('.', "_")for c in iris]
iris.head()

,petal_length,petal_width,sepal_length,sepal_width,species_id,species_name
0,1.40,0.20,5.10,3.50,1,setosa
1,1.40,0.20,4.90,3.00,1,setosa
2,1.30,0.20,4.70,3.20,1,setosa
3,1.50,0.20,4.60,3.10,1,setosa
4,1.40,0.20,5.00,3.60,1,setosa

In [ ]:
import sklearn.cluster import Kmeans

#how many clusters do we want?
kmeans= KMeans(n_clusters=3)