In [1]:
# ignore warnings
import warnings
warnings.filterwarnings("ignore")

# Wrangling
import pandas as pd
import numpy as np

# Exploring
import scipy.stats as stats

# Visualizing
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

# default pandas decimal number display format
pd.options.display.float_format = '{:20,.2f}'.format

import acquire
import summarize
import prepare
import env

#### Acquire data from mySQL using the python module to connect and query. You will want to end with a single dataframe. Make sure to include: the logerror, all fields related to the properties that are available. You will end up using all the tables in the database.

###### Be sure to do the correct join. We do not want to eliminate properties purely because they may have a null value for airconditioningtypeid
###### only include properties with a transaction in 2017, and include only the last transaction for each properity (so no duplicate property id's), along with zestimate error and date of transaction.
##### only include properties that include a latitude and longitude value

In [5]:
df=acquire.get_zillow_data()
df=pd.DataFrame(df)

In [9]:
summarize.df_summary(df)

--- Shape: (77381, 62)
--- Info
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77381 entries, 0 to 77380
Data columns (total 62 columns):
parcelid                        77381 non-null int64
logerror                        77381 non-null float64
transactiondate                 77381 non-null object
id                              77381 non-null int64
parcelid                        77381 non-null int64
airconditioningtypeid           24953 non-null float64
architecturalstyletypeid        206 non-null float64
basementsqft                    50 non-null float64
bathroomcnt                     77381 non-null float64
bedroomcnt                      77381 non-null float64
buildingclasstypeid             15 non-null float64
buildingqualitytypeid           49672 non-null float64
calculatedbathnbr               76772 non-null float64
decktypeid                      614 non-null float64
finishedfloor1squarefeet        6023 non-null float64
calculatedfinishedsquarefeet    77185 non-null float64
finishedsquarefeet12            73749 non-null float64
finishedsquarefeet13            41 non-null float64
finishedsquarefeet15            3009 non-null float64
finishedsquarefeet50            6023 non-null float64
finishedsquarefeet6             386 non-null float64
fips                            77381 non-null float64
fireplacecnt                    8276 non-null float64
fullbathcnt                     76772 non-null float64
garagecarcnt                    25474 non-null float64
garagetotalsqft                 25474 non-null float64
hashottuborspa                  1538 non-null float64
heatingorsystemtypeid           49440 non-null float64
latitude                        77381 non-null float64
longitude                       77381 non-null float64
lotsizesquarefeet               69142 non-null float64
poolcnt                         16137 non-null float64
poolsizesum                     867 non-null float64
pooltypeid10                    464 non-null float64
pooltypeid2                     1074 non-null float64
pooltypeid7                     15042 non-null float64
propertycountylandusecode       77381 non-null object
propertylandusetypeid           77381 non-null float64
propertyzoningdesc              50331 non-null object
rawcensustractandblock          77381 non-null float64
regionidcity                    75910 non-null float64
regionidcounty                  77381 non-null float64
regionidneighborhood            30890 non-null float64
regionidzip                     77331 non-null float64
roomcnt                         77381 non-null float64
storytypeid                     50 non-null float64
threequarterbathnbr             10096 non-null float64
typeconstructiontypeid          222 non-null float64
unitcnt                         50563 non-null float64
yardbuildingsqft17              2388 non-null float64
yardbuildingsqft26              70 non-null float64
yearbuilt                       77118 non-null float64
numberofstories                 17560 non-null float64
fireplaceflag                   172 non-null float64
structuretaxvaluedollarcnt      77269 non-null float64
taxvaluedollarcnt               77380 non-null float64
assessmentyear                  77381 non-null float64
landtaxvaluedollarcnt           77379 non-null float64
taxamount                       77376 non-null float64
taxdelinquencyflag              2886 non-null object
taxdelinquencyyear              2886 non-null float64
censustractandblock             77137 non-null float64
dtypes: float64(55), int64(3), object(4)
memory usage: 36.6+ MB
--- Descriptions
                   parcelid             logerror transactiondate  \
count             77,381.00            77,381.00           77381
unique                  nan                  nan             265
top                     nan                  nan      2017-06-30
freq                    nan                  nan            1189
mean          13,007,150.51                 0.02             NaN
std            3,481,345.65                 0.17             NaN
min           10,711,855.00                -4.66             NaN
25%           11,538,305.00                -0.02             NaN
50%           12,531,568.00                 0.01             NaN
75%           14,211,831.00                 0.04             NaN
max          167,689,317.00                 5.26             NaN

                         id             parcelid  airconditioningtypeid  \
count             77,381.00            77,381.00              24,953.00
unique                  nan                  nan                    nan
top                     nan                  nan                    nan
freq                    nan                  nan                    nan
mean           1,495,138.90        13,007,150.51                   1.81
std              860,907.05         3,481,345.65                   2.97
min                  349.00        10,711,855.00                   1.00
25%              752,070.00        11,538,305.00                   1.00
50%            1,497,932.00        12,531,568.00                   1.00
75%            2,240,535.00        14,211,831.00                   1.00
max            2,982,274.00       167,689,317.00                  13.00

        architecturalstyletypeid         basementsqft          bathroomcnt  \
count                     206.00                50.00            77,381.00
unique                       nan                  nan                  nan
top                          nan                  nan                  nan
freq                         nan                  nan                  nan
mean                        7.39               679.72                 2.30
std                         2.73               689.70                 1.00
min                         2.00                38.00                 0.00
25%                         7.00               273.00                 2.00
50%                         7.00               515.00                 2.00
75%                         7.00               796.50                 3.00
max                        21.00             3,560.00                18.00

                 bedroomcnt  ...      numberofstories        fireplaceflag  \
count             77,381.00  ...            17,560.00               172.00
unique                  nan  ...                  nan                  nan
top                     nan  ...                  nan                  nan
freq                    nan  ...                  nan                  nan
mean                   3.05  ...                 1.43                 1.00
std                    1.14  ...                 0.54                 0.00
min                    0.00  ...                 1.00                 1.00
25%                    2.00  ...                 1.00                 1.00
50%                    3.00  ...                 1.00                 1.00
75%                    4.00  ...                 2.00                 1.00
max                   16.00  ...                 6.00                 1.00

        structuretaxvaluedollarcnt    taxvaluedollarcnt       assessmentyear  \
count                    77,269.00            77,380.00            77,381.00
unique                         nan                  nan                  nan
top                            nan                  nan                  nan
freq                           nan                  nan                  nan
mean                    189,314.53           490,134.48             2,016.00
std                     230,087.42           653,443.97                 0.00
min                          44.00             1,000.00             2,016.00
25%                      84,265.00           207,000.00             2,016.00
50%                     136,499.00           358,975.50             2,016.00
75%                     218,787.00           569,001.50             2,016.00
max                  11,421,790.00        49,061,236.00             2,016.00

        landtaxvaluedollarcnt            taxamount  taxdelinquencyflag  \
count               77,379.00            77,376.00                2886
unique                    nan                  nan                   1
top                       nan                  nan                   Y
freq                      nan                  nan                2886
mean               301,095.41             5,995.53                 NaN
std                492,596.03             7,622.84                 NaN
min                    161.00                19.92                 NaN
25%                 85,504.00             2,715.63                 NaN
50%                203,372.00             4,450.69                 NaN
75%                366,796.50             6,927.79                 NaN
max             48,952,198.00           586,639.30                 NaN

         taxdelinquencyyear    censustractandblock
count              2,886.00              77,137.00
unique                  nan                    nan
top                     nan                    nan
freq                    nan                    nan
mean                  14.09  60,496,733,646,264.13
std                    2.19   1,535,241,981,138.57
min                    3.00  60,371,011,101,000.00
25%                   14.00  60,373,109,005,002.00
50%                   15.00  60,376,032,003,008.00
75%                   15.00  60,590,423,251,008.00
max                   99.00 483,030,105,084,015.00

[11 rows x 62 columns]
--- Nulls By Column
                              num_rows_missing     pct_rows_missing
parcelid                                     0                 0.00
logerror                                     0                 0.00
transactiondate                              0                 0.00
id                                           0                 0.00
parcelid                                     0                 0.00
airconditioningtypeid                    52428                 0.68
architecturalstyletypeid                 77175                 1.00
basementsqft                             77331                 1.00
bathroomcnt                                  0                 0.00
bedroomcnt                                   0                 0.00
buildingclasstypeid                      77366                 1.00
buildingqualitytypeid                    27709                 0.36
calculatedbathnbr                          609                 0.01
decktypeid                               76767                 0.99
finishedfloor1squarefeet                 71358                 0.92
calculatedfinishedsquarefeet               196                 0.00
finishedsquarefeet12                      3632                 0.05
finishedsquarefeet13                     77340                 1.00
finishedsquarefeet15                     74372                 0.96
finishedsquarefeet50                     71358                 0.92
finishedsquarefeet6                      76995                 1.00
fips                                         0                 0.00
fireplacecnt                             69105                 0.89
fullbathcnt                                609                 0.01
garagecarcnt                             51907                 0.67
garagetotalsqft                          51907                 0.67
hashottuborspa                           75843                 0.98
heatingorsystemtypeid                    27941                 0.36
latitude                                     0                 0.00
longitude                                    0                 0.00
...                                        ...                  ...
poolsizesum                              76514                 0.99
pooltypeid10                             76917                 0.99
pooltypeid2                              76307                 0.99
pooltypeid7                              62339                 0.81
propertycountylandusecode                    0                 0.00
propertylandusetypeid                        0                 0.00
propertyzoningdesc                       27050                 0.35
rawcensustractandblock                       0                 0.00
regionidcity                              1471                 0.02
regionidcounty                               0                 0.00
regionidneighborhood                     46491                 0.60
regionidzip                                 50                 0.00
roomcnt                                      0                 0.00
storytypeid                              77331                 1.00
threequarterbathnbr                      67285                 0.87
typeconstructiontypeid                   77159                 1.00
unitcnt                                  26818                 0.35
yardbuildingsqft17                       74993                 0.97
yardbuildingsqft26                       77311                 1.00
yearbuilt                                  263                 0.00
numberofstories                          59821                 0.77
fireplaceflag                            77209                 1.00
structuretaxvaluedollarcnt                 112                 0.00
taxvaluedollarcnt                            1                 0.00
assessmentyear                               0                 0.00
landtaxvaluedollarcnt                        2                 0.00
taxamount                                    5                 0.00
taxdelinquencyflag                       74495                 0.96
taxdelinquencyyear                       74495                 0.96
censustractandblock                        244                 0.00

[62 rows x 2 columns]
--- Nulls By Row

   num_cols_missing    pct_cols_missing  num_rows
0                19   30.64516129032258         2
1                20   32.25806451612903        10
2                21   33.87096774193548        83
3                22  35.483870967741936       262
4                23  37.096774193548384       599
5                24   38.70967741935484       660
6                25   40.32258064516129      5768
7                26  41.935483870967744      7996
8                27   43.54838709677419     12410
9                28   45.16129032258064     20660
10               29  46.774193548387096     16098
11               30   48.38709677419355      6391
12               31                50.0      3604
13               32   51.61290322580645      2089
14               33    53.2258064516129       300
15               34   54.83870967741935       230
16               35  56.451612903225815        29
17               36   58.06451612903226        23
18               37   59.67741935483871        28
19               38   61.29032258064516        78
20               39  62.903225806451616        50
21               40   64.51612903225806         5
22               41   66.12903225806451         3
23               42   67.74193548387096         3
--- Value Counts

AttributeError: 'DataFrame' object has no attribute 'dtype'

summary stats, info, dtypes, shape, distributions, value_counts, etc.)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77381 entries, 0 to 77380
Data columns (total 62 columns):
parcelid                        77381 non-null int64
logerror                        77381 non-null float64
transactiondate                 77381 non-null object
id                              77381 non-null int64
parcelid                        77381 non-null int64
airconditioningtypeid           24953 non-null float64
architecturalstyletypeid        206 non-null float64
basementsqft                    50 non-null float64
bathroomcnt                     77381 non-null float64
bedroomcnt                      77381 non-null float64
buildingclasstypeid             15 non-null float64
buildingqualitytypeid           49672 non-null float64
calculatedbathnbr               76772 non-null float64
decktypeid                      614 non-null float64
finishedfloor1squarefeet        6023 non-null float64
calculatedfinishedsquarefeet    77185 non-null float64
finishedsquarefeet12            73749 non-null float64
finishedsquarefeet13            41 non-null float64
finishedsquarefeet15            3009 non-null float64
finishedsquarefeet50            6023 non-null float64
finishedsquarefeet6             386 non-null float64
fips                            77381 non-null float64
fireplacecnt                    8276 non-null float64
fullbathcnt                     76772 non-null float64
garagecarcnt                    25474 non-null float64
garagetotalsqft                 25474 non-null float64
hashottuborspa                  1538 non-null float64
heatingorsystemtypeid           49440 non-null float64
latitude                        77381 non-null float64
longitude                       77381 non-null float64
lotsizesquarefeet               69142 non-null float64
poolcnt                         16137 non-null float64
poolsizesum                     867 non-null float64
pooltypeid10                    464 non-null float64
pooltypeid2                     1074 non-null float64
pooltypeid7                     15042 non-null float64
propertycountylandusecode       77381 non-null object
propertylandusetypeid           77381 non-null float64
propertyzoningdesc              50331 non-null object
rawcensustractandblock          77381 non-null float64
regionidcity                    75910 non-null float64
regionidcounty                  77381 non-null float64
regionidneighborhood            30890 non-null float64
regionidzip                     77331 non-null float64
roomcnt                         77381 non-null float64
storytypeid                     50 non-null float64
threequarterbathnbr             10096 non-null float64
typeconstructiontypeid          222 non-null float64
unitcnt                         50563 non-null float64
yardbuildingsqft17              2388 non-null float64
yardbuildingsqft26              70 non-null float64
yearbuilt                       77118 non-null float64
numberofstories                 17560 non-null float64
fireplaceflag                   172 non-null float64
structuretaxvaluedollarcnt      77269 non-null float64
taxvaluedollarcnt               77380 non-null float64
assessmentyear                  77381 non-null float64
landtaxvaluedollarcnt           77379 non-null float64
taxamount                       77376 non-null float64
taxdelinquencyflag              2886 non-null object
taxdelinquencyyear              2886 non-null float64
censustractandblock             77137 non-null float64
dtypes: float64(55), int64(3), object(4)
memory usage: 36.6+ MB

In [14]:
df.shape

(77381, 62)

In [15]:
df.dtypes

parcelid                          int64
logerror                        float64
transactiondate                  object
id                                int64
parcelid                          int64
airconditioningtypeid           float64
architecturalstyletypeid        float64
basementsqft                    float64
bathroomcnt                     float64
bedroomcnt                      float64
buildingclasstypeid             float64
buildingqualitytypeid           float64
calculatedbathnbr               float64
decktypeid                      float64
finishedfloor1squarefeet        float64
calculatedfinishedsquarefeet    float64
finishedsquarefeet12            float64
finishedsquarefeet13            float64
finishedsquarefeet15            float64
finishedsquarefeet50            float64
finishedsquarefeet6             float64
fips                            float64
fireplacecnt                    float64
fullbathcnt                     float64
garagecarcnt                    float64
garagetotalsqft                 float64
hashottuborspa                  float64
heatingorsystemtypeid           float64
latitude                        float64
longitude                       float64
                                 ...
poolsizesum                     float64
pooltypeid10                    float64
pooltypeid2                     float64
pooltypeid7                     float64
propertycountylandusecode        object
propertylandusetypeid           float64
propertyzoningdesc               object
rawcensustractandblock          float64
regionidcity                    float64
regionidcounty                  float64
regionidneighborhood            float64
regionidzip                     float64
roomcnt                         float64
storytypeid                     float64
threequarterbathnbr             float64
typeconstructiontypeid          float64
unitcnt                         float64
yardbuildingsqft17              float64
yardbuildingsqft26              float64
yearbuilt                       float64
numberofstories                 float64
fireplaceflag                   float64
structuretaxvaluedollarcnt      float64
taxvaluedollarcnt               float64
assessmentyear                  float64
landtaxvaluedollarcnt           float64
taxamount                       float64
taxdelinquencyflag               object
taxdelinquencyyear              float64
censustractandblock             float64
Length: 62, dtype: object

In [16]:
df.describe()

,parcelid,logerror,id,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,...,yearbuilt,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyyear,censustractandblock
count,"77,381.00","77,381.00","77,381.00","77,381.00","24,953.00",206.00,50.00,"77,381.00","77,381.00",15.00,...,"77,118.00","17,560.00",172.00,"77,269.00","77,380.00","77,381.00","77,379.00","77,376.00","2,886.00","77,137.00"
mean,"13,007,150.51",0.02,"1,495,138.90","13,007,150.51",1.81,7.39,679.72,2.30,3.05,3.93,...,"1,968.64",1.43,1.00,"189,314.53","490,134.48","2,016.00","301,095.41","5,995.53",14.09,"60,496,733,646,264.13"
std,"3,481,345.65",0.17,"860,907.05","3,481,345.65",2.97,2.73,689.70,1.00,1.14,0.26,...,23.79,0.54,0.00,"230,087.42","653,443.97",0.00,"492,596.03","7,622.84",2.19,"1,535,241,981,138.57"
min,"10,711,855.00",-4.66,349.00,"10,711,855.00",1.00,2.00,38.00,0.00,0.00,3.00,...,"1,824.00",1.00,1.00,44.00,"1,000.00","2,016.00",161.00,19.92,3.00,"60,371,011,101,000.00"
25%,"11,538,305.00",-0.02,"752,070.00","11,538,305.00",1.00,7.00,273.00,2.00,2.00,4.00,...,"1,953.00",1.00,1.00,"84,265.00","207,000.00","2,016.00","85,504.00","2,715.63",14.00,"60,373,109,005,002.00"
50%,"12,531,568.00",0.01,"1,497,932.00","12,531,568.00",1.00,7.00,515.00,2.00,3.00,4.00,...,"1,970.00",1.00,1.00,"136,499.00","358,975.50","2,016.00","203,372.00","4,450.69",15.00,"60,376,032,003,008.00"
75%,"14,211,831.00",0.04,"2,240,535.00","14,211,831.00",1.00,7.00,796.50,3.00,4.00,4.00,...,"1,987.00",2.00,1.00,"218,787.00","569,001.50","2,016.00","366,796.50","6,927.79",15.00,"60,590,423,251,008.00"
max,"167,689,317.00",5.26,"2,982,274.00","167,689,317.00",13.00,21.00,"3,560.00",18.00,16.00,4.00,...,"2,016.00",6.00,1.00,"11,421,790.00","49,061,236.00","2,016.00","48,952,198.00","586,639.30",99.00,"483,030,105,084,015.00"

In [22]:
pd.DataFrame(df.columns)

                               0
0                       parcelid
1                       logerror
2                transactiondate
3                             id
4                       parcelid
5          airconditioningtypeid
6       architecturalstyletypeid
7                   basementsqft
8                    bathroomcnt
9                     bedroomcnt
10           buildingclasstypeid
11         buildingqualitytypeid
12             calculatedbathnbr
13                    decktypeid
14      finishedfloor1squarefeet
15  calculatedfinishedsquarefeet
16          finishedsquarefeet12
17          finishedsquarefeet13
18          finishedsquarefeet15
19          finishedsquarefeet50
20           finishedsquarefeet6
21                          fips
22                  fireplacecnt
23                   fullbathcnt
24                  garagecarcnt
25               garagetotalsqft
26                hashottuborspa
27         heatingorsystemtypeid
28                      latitude
29                     longitude
..                           ...
32                   poolsizesum
33                  pooltypeid10
34                   pooltypeid2
35                   pooltypeid7
36     propertycountylandusecode
37         propertylandusetypeid
38            propertyzoningdesc
39        rawcensustractandblock
40                  regionidcity
41                regionidcounty
42          regionidneighborhood
43                   regionidzip
44                       roomcnt
45                   storytypeid
46           threequarterbathnbr
47        typeconstructiontypeid
48                       unitcnt
49            yardbuildingsqft17
50            yardbuildingsqft26
51                     yearbuilt
52               numberofstories
53                 fireplaceflag
54    structuretaxvaluedollarcnt
55             taxvaluedollarcnt
56                assessmentyear
57         landtaxvaluedollarcnt
58                     taxamount
59            taxdelinquencyflag
60            taxdelinquencyyear
61           censustractandblock

[62 rows x 1 columns]

In [23]:
df.shape

(77381, 62)

In [29]:
numbers_missing=df.isnull().sum()

3. Write a function that takes in a dataframe of observations and attributes and returns a dataframe where each row is an atttribute name, the first column is the number of rows with missing values for that attribute, and the second column is percent of total rows that have missing values for that attribute. Run the function and document takeaways from this on how you want to handle missing values.

In [30]:
missing = (df.isnull().sum())/df.shape[0]

In [28]:
summarize.nulls_by_col(df)

                              num_rows_missing     pct_rows_missing
parcelid                                     0                 0.00
logerror                                     0                 0.00
transactiondate                              0                 0.00
id                                           0                 0.00
parcelid                                     0                 0.00
airconditioningtypeid                    52428                 0.68
architecturalstyletypeid                 77175                 1.00
basementsqft                             77331                 1.00
bathroomcnt                                  0                 0.00
bedroomcnt                                   0                 0.00
buildingclasstypeid                      77366                 1.00
buildingqualitytypeid                    27709                 0.36
calculatedbathnbr                          609                 0.01
decktypeid                               76767                 0.99
finishedfloor1squarefeet                 71358                 0.92
calculatedfinishedsquarefeet               196                 0.00
finishedsquarefeet12                      3632                 0.05
finishedsquarefeet13                     77340                 1.00
finishedsquarefeet15                     74372                 0.96
finishedsquarefeet50                     71358                 0.92
finishedsquarefeet6                      76995                 1.00
fips                                         0                 0.00
fireplacecnt                             69105                 0.89
fullbathcnt                                609                 0.01
garagecarcnt                             51907                 0.67
garagetotalsqft                          51907                 0.67
hashottuborspa                           75843                 0.98
heatingorsystemtypeid                    27941                 0.36
latitude                                     0                 0.00
longitude                                    0                 0.00
...                                        ...                  ...
poolsizesum                              76514                 0.99
pooltypeid10                             76917                 0.99
pooltypeid2                              76307                 0.99
pooltypeid7                              62339                 0.81
propertycountylandusecode                    0                 0.00
propertylandusetypeid                        0                 0.00
propertyzoningdesc                       27050                 0.35
rawcensustractandblock                       0                 0.00
regionidcity                              1471                 0.02
regionidcounty                               0                 0.00
regionidneighborhood                     46491                 0.60
regionidzip                                 50                 0.00
roomcnt                                      0                 0.00
storytypeid                              77331                 1.00
threequarterbathnbr                      67285                 0.87
typeconstructiontypeid                   77159                 1.00
unitcnt                                  26818                 0.35
yardbuildingsqft17                       74993                 0.97
yardbuildingsqft26                       77311                 1.00
yearbuilt                                  263                 0.00
numberofstories                          59821                 0.77
fireplaceflag                            77209                 1.00
structuretaxvaluedollarcnt                 112                 0.00
taxvaluedollarcnt                            1                 0.00
assessmentyear                               0                 0.00
landtaxvaluedollarcnt                        2                 0.00
taxamount                                    5                 0.00
taxdelinquencyflag                       74495                 0.96
taxdelinquencyyear                       74495                 0.96
censustractandblock                        244                 0.00

[62 rows x 2 columns]

In [31]:

pct_missing = (df.isnull().sum())/df.shape[0]

In [33]:
pct_missing

parcelid                                       0.00
logerror                                       0.00
transactiondate                                0.00
id                                             0.00
parcelid                                       0.00
airconditioningtypeid                          0.68
architecturalstyletypeid                       1.00
basementsqft                                   1.00
bathroomcnt                                    0.00
bedroomcnt                                     0.00
buildingclasstypeid                            1.00
buildingqualitytypeid                          0.36
calculatedbathnbr                              0.01
decktypeid                                     0.99
finishedfloor1squarefeet                       0.92
calculatedfinishedsquarefeet                   0.00
finishedsquarefeet12                           0.05
finishedsquarefeet13                           1.00
finishedsquarefeet15                           0.96
finishedsquarefeet50                           0.92
finishedsquarefeet6                            1.00
fips                                           0.00
fireplacecnt                                   0.89
fullbathcnt                                    0.01
garagecarcnt                                   0.67
garagetotalsqft                                0.67
hashottuborspa                                 0.98
heatingorsystemtypeid                          0.36
latitude                                       0.00
longitude                                      0.00
                                       ...
poolsizesum                                    0.99
pooltypeid10                                   0.99
pooltypeid2                                    0.99
pooltypeid7                                    0.81
propertycountylandusecode                      0.00
propertylandusetypeid                          0.00
propertyzoningdesc                             0.35
rawcensustractandblock                         0.00
regionidcity                                   0.02
regionidcounty                                 0.00
regionidneighborhood                           0.60
regionidzip                                    0.00
roomcnt                                        0.00
storytypeid                                    1.00
threequarterbathnbr                            0.87
typeconstructiontypeid                         1.00
unitcnt                                        0.35
yardbuildingsqft17                             0.97
yardbuildingsqft26                             1.00
yearbuilt                                      0.00
numberofstories                                0.77
fireplaceflag                                  1.00
structuretaxvaluedollarcnt                     0.00
taxvaluedollarcnt                              0.00
assessmentyear                                 0.00
landtaxvaluedollarcnt                          0.00
taxamount                                      0.00
taxdelinquencyflag                             0.96
taxdelinquencyyear                             0.96
censustractandblock                            0.00
Length: 62, dtype: float64

AttributeError: 'DataFrame' object has no attribute 'desrcibe'