In [1]:
from __future__ import division
import itertools
import warnings
warnings.filterwarnings("ignore")
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import numpy as np
import pandas as pd
import math
from sklearn import metrics
from random import randint
from matplotlib import style
import seaborn as sns
from sklearn.cluster import DBSCAN
from sklearn.preprocessing import MinMaxScaler

%matplotlib inline

In [9]:
# Import .csv file and convert it to a DataFrame object
df = pd.read_csv('anonymized-curriculum-access.csv')

              2018-01-26 09:55:03 / 1 8 97.105.19.61
0       2018-01-26 09:56:02 java-ii 1 8 97.105.19.61
1  2018-01-26 09:56:05 java-ii/object-oriented-pr...
2  2018-01-26 09:56:06 slides/object_oriented_pro...
3  2018-01-26 09:56:24 javascript-i/conditionals ...
4  2018-01-26 09:56:41 javascript-i/loops 2 22 97...

In [34]:
#colnames=[{0:"date", 1:"time", 2:"page", 3:"num1", 4:"num2", 5:"ip"}]
df_orig = pd.read_csv('anonymized-curriculum-access.csv',
                 header=None,
                 sep= " "
)



df = df_orig
df.head()

,0,1,2,3,4,5
0,2018-01-26,09:55:03,/,1,8.0,97.105.19.61
1,2018-01-26,09:56:02,java-ii,1,8.0,97.105.19.61
2,2018-01-26,09:56:05,java-ii/object-oriented-programming,1,8.0,97.105.19.61
3,2018-01-26,09:56:06,slides/object_oriented_programming,1,8.0,97.105.19.61
4,2018-01-26,09:56:24,javascript-i/conditionals,2,22.0,97.105.19.61

In [35]:
df = df.rename(columns={0:"date", 1:"time", 2:"page", 3:"id", 4:"group", 5:"ip"})

df.describe()

                  id          group
count  399195.000000  372441.000000
mean      268.794667      26.912649
std       147.587312       7.846146
min         1.000000       1.000000
25%       157.000000      23.000000
50%       288.000000      27.000000
75%       392.000000      31.000000
max       543.000000      52.000000

In [36]:
df= df.drop(columns=['date', 'time'])

df.head()

                                  page  id  group            ip
0                                    /   1    8.0  97.105.19.61
1                              java-ii   1    8.0  97.105.19.61
2  java-ii/object-oriented-programming   1    8.0  97.105.19.61
3   slides/object_oriented_programming   1    8.0  97.105.19.61
4            javascript-i/conditionals   2   22.0  97.105.19.61

In [48]:
df.dropna(axis=1)
df= df.set_index(df['group'])

In [39]:
df= df[['group', 'id', 'page']]

In [43]:

df.isnull().sum()

group    26754
id           0
page         0
dtype: int64

In [47]:
np_array = df.values.astype("float32", copy = False)

ValueError: could not convert string to float: '/'