In [1]:
import itertools
import warnings
warnings.filterwarnings("ignore")
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
from numpy import linspace, loadtxt, ones, convolve
from sklearn.ensemble import IsolationForest
import numpy as np
import pandas as pd
import collections
import math
from sklearn import metrics
from random import randint
from matplotlib import style
import seaborn as sns

In [5]:
df=pd.read_excel('the_data.xlsx')

In [17]:
df= pd.DataFrame(df)
df.head()

            timestamp     x  y
0 2018-04-30 00:00:00  1.84  A
1 2018-04-30 01:00:00  1.47  C
2 2018-04-30 02:00:00  0.20  B
3 2018-04-30 03:00:00  0.17  C
4 2018-04-30 04:00:00  2.06  C

In [ ]:
#### 1. Group by

In [24]:
#What is the maximum x value for group B?
df.groupby(df['y']).max()

            timestamp     x
y
A 2018-05-01 21:00:00  1.84
B 2018-05-01 22:00:00  1.91
C 2018-05-01 23:00:00  2.06

In [26]:
#What is the average x value for group A?
df.groupby(df['y']).mean()

          x
y
A -0.110556
B -0.053846
C  0.232353

In [27]:
#What is the minimum x value for group C?
df.groupby(df['y']).min()

            timestamp     x
y
A 2018-04-30 00:00:00 -1.30
B 2018-04-30 02:00:00 -2.05
C 2018-04-30 01:00:00 -1.83

In [28]:
#Which group has the highest sum of x values?
df.groupby(df['y']).sum()

      x
y
A -1.99
B -0.70
C  3.95

#### 2. Time Aggregates

In [ ]:
#What is the sum of the x values for 2018-05-01?
#What is the average x value for each day? The median?
#Which day has the largest x value?
#Which day has the smallest x value for group C?