In [1]:
import itertools
import warnings
warnings.filterwarnings("ignore")
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
from numpy import linspace, loadtxt, ones, convolve
from sklearn.ensemble import IsolationForest
import numpy as np
import pandas as pd
import collections
import math
from sklearn import metrics
from random import randint
from matplotlib import style
import seaborn as sns

In [5]:
df=pd.read_excel('the_data.xlsx')

In [44]:
df= pd.DataFrame(df)
df.set_index('timestamp')
df.head()

            timestamp     x  y
0 2018-04-30 00:00:00  1.84  A
1 2018-04-30 01:00:00  1.47  C
2 2018-04-30 02:00:00  0.20  B
3 2018-04-30 03:00:00  0.17  C
4 2018-04-30 04:00:00  2.06  C

In [ ]:
#### 1. Group by

In [35]:
#What is the maximum x value for group B?
df.groupby(df['y']).x.max()

y
A    1.84
B    1.91
C    2.06
Name: x, dtype: float64

In [38]:
#What is the average x value for group A?
df.groupby(df['y']).x.mean()

y
A   -0.110556
B   -0.053846
C    0.232353
Name: x, dtype: float64

In [39]:
#What is the minimum x value for group C?
df.groupby(df['y']=='C').x.min()

y
False   -2.05
True    -1.83
Name: x, dtype: float64

In [40]:
#Which group has the highest sum of x values?
df.groupby(df['y']).x.sum()

y
A   -1.99
B   -0.70
C    3.95
Name: x, dtype: float64

In [43]:
df.groupby(['y']).describe()

      x
  count      mean       std   min     25%   50%     75%   max
y
A  18.0 -0.110556  0.925784 -1.30 -0.9075 -0.08  0.2575  1.84
B  13.0 -0.053846  1.328731 -2.05 -0.8100  0.20  0.7400  1.91
C  17.0  0.232353  1.108594 -1.83 -0.1300  0.28  0.9800  2.06

#### 2. Time Aggregates

In [49]:
#What is the sum of the x values for 2018-05-01?
df.groupby(df.2018-05-01).x.describe()
#What is the average x value for each day? The median?
#Which day has the largest x value?
#Which day has the smallest x value for group C?

SyntaxError: invalid syntax (<ipython-input-49-539b02351c33>, line 2)

#### 3. Visualizations

In [ ]:
#Visualize the minimum x value of each group with a bar chart.
#Visualize x over time.
#Visualize x over time by y value.

#### 4. More Aggregation

In [ ]:
#What is the least frequent y value for 2018-04-30?
#What is the most frequent y value for each day?