In [5]:
# data manipulation 
import numpy as np
import pandas as pd

from datetime import datetime
import itertools

# data visualization 
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm

%matplotlib inline

from sklearn.model_selection import TimeSeriesSplit

# ignore warnings
import warnings
warnings.filterwarnings("ignore")

from acquire import get_store_data
from prepare import prep_store_data

#df = prep_store_data(get_store_data())

In [17]:
df=acquire.get_store_data()
df1=acquire.get_sale_data()

Fetching page 2 of 183
Fetching page 3 of 183
Fetching page 4 of 183
Fetching page 5 of 183
Fetching page 6 of 183
Fetching page 7 of 183
Fetching page 8 of 183
Fetching page 9 of 183
Fetching page 10 of 183
Fetching page 11 of 183
Fetching page 12 of 183
Fetching page 13 of 183
Fetching page 14 of 183
Fetching page 15 of 183
Fetching page 16 of 183
Fetching page 17 of 183
Fetching page 18 of 183
Fetching page 19 of 183
Fetching page 20 of 183
Fetching page 21 of 183
Fetching page 22 of 183
Fetching page 23 of 183
Fetching page 24 of 183
Fetching page 25 of 183
Fetching page 26 of 183
Fetching page 27 of 183
Fetching page 28 of 183
Fetching page 29 of 183
Fetching page 30 of 183
Fetching page 31 of 183
Fetching page 32 of 183
Fetching page 33 of 183
Fetching page 34 of 183
Fetching page 35 of 183
Fetching page 36 of 183
Fetching page 37 of 183
Fetching page 38 of 183
Fetching page 39 of 183
Fetching page 40 of 183
Fetching page 41 of 183
Fetching page 42 of 183
Fetching page 43 of 183
Fetching page 44 of 183
Fetching page 45 of 183
Fetching page 46 of 183
Fetching page 47 of 183
Fetching page 48 of 183
Fetching page 49 of 183
Fetching page 50 of 183
Fetching page 51 of 183
Fetching page 52 of 183
Fetching page 53 of 183
Fetching page 54 of 183
Fetching page 55 of 183
Fetching page 56 of 183
Fetching page 57 of 183
Fetching page 58 of 183
Fetching page 59 of 183
Fetching page 60 of 183
Fetching page 61 of 183
Fetching page 62 of 183
Fetching page 63 of 183
Fetching page 64 of 183
Fetching page 65 of 183
Fetching page 66 of 183
Fetching page 67 of 183
Fetching page 68 of 183
Fetching page 69 of 183
Fetching page 70 of 183
Fetching page 71 of 183
Fetching page 72 of 183
Fetching page 73 of 183
Fetching page 74 of 183
Fetching page 75 of 183
Fetching page 76 of 183
Fetching page 77 of 183
Fetching page 78 of 183
Fetching page 79 of 183
Fetching page 80 of 183
Fetching page 81 of 183
Fetching page 82 of 183
Fetching page 83 of 183
Fetching page 84 of 183
Fetching page 85 of 183
Fetching page 86 of 183
Fetching page 87 of 183
Fetching page 88 of 183
Fetching page 89 of 183
Fetching page 90 of 183
Fetching page 91 of 183
Fetching page 92 of 183
Fetching page 93 of 183
Fetching page 94 of 183
Fetching page 95 of 183
Fetching page 96 of 183
Fetching page 97 of 183
Fetching page 98 of 183
Fetching page 99 of 183
Fetching page 100 of 183
Fetching page 101 of 183
Fetching page 102 of 183
Fetching page 103 of 183
Fetching page 104 of 183
Fetching page 105 of 183
Fetching page 106 of 183
Fetching page 107 of 183
Fetching page 108 of 183
Fetching page 109 of 183
Fetching page 110 of 183
Fetching page 111 of 183
Fetching page 112 of 183
Fetching page 113 of 183
Fetching page 114 of 183
Fetching page 115 of 183
Fetching page 116 of 183
Fetching page 117 of 183
Fetching page 118 of 183
Fetching page 119 of 183
Fetching page 120 of 183
Fetching page 121 of 183
Fetching page 122 of 183
Fetching page 123 of 183
Fetching page 124 of 183
Fetching page 125 of 183
Fetching page 126 of 183
Fetching page 127 of 183
Fetching page 128 of 183
Fetching page 129 of 183
Fetching page 130 of 183
Fetching page 131 of 183
Fetching page 132 of 183
Fetching page 133 of 183
Fetching page 134 of 183
Fetching page 135 of 183
Fetching page 136 of 183
Fetching page 137 of 183
Fetching page 138 of 183
Fetching page 139 of 183
Fetching page 140 of 183
Fetching page 141 of 183
Fetching page 142 of 183
Fetching page 143 of 183
Fetching page 144 of 183
Fetching page 145 of 183
Fetching page 146 of 183
Fetching page 147 of 183
Fetching page 148 of 183
Fetching page 149 of 183
Fetching page 150 of 183
Fetching page 151 of 183
Fetching page 152 of 183
Fetching page 153 of 183
Fetching page 154 of 183
Fetching page 155 of 183
Fetching page 156 of 183
Fetching page 157 of 183
Fetching page 158 of 183
Fetching page 159 of 183
Fetching page 160 of 183
Fetching page 161 of 183
Fetching page 162 of 183
Fetching page 163 of 183
Fetching page 164 of 183
Fetching page 165 of 183
Fetching page 166 of 183
Fetching page 167 of 183
Fetching page 168 of 183
Fetching page 169 of 183
Fetching page 170 of 183
Fetching page 171 of 183
Fetching page 172 of 183
Fetching page 173 of 183
Fetching page 174 of 183
Fetching page 175 of 183
Fetching page 176 of 183
Fetching page 177 of 183
Fetching page 178 of 183
Fetching page 179 of 183
Fetching page 180 of 183
Fetching page 181 of 183
Fetching page 182 of 183
Fetching page 183 of 183

In [16]:
df.head()

             store_address   store_city  store_id store_state  store_zipcode
0   12125 Alamo Ranch Pkwy  San Antonio         1          TX          78253
1         9255 FM 471 West  San Antonio         2          TX          78251
2  2118 Fredericksburg Rdj  San Antonio         3          TX          78201
3          516 S Flores St  San Antonio         4          TX          78204
4          1520 Austin Hwy  San Antonio         5          TX          78218

In [18]:
df1.head()

   item  sale_amount                      sale_date  sale_id  store
0     1         13.0  Tue, 01 Jan 2013 00:00:00 GMT        1      1
1     1         11.0  Wed, 02 Jan 2013 00:00:00 GMT        2      1
2     1         14.0  Thu, 03 Jan 2013 00:00:00 GMT        3      1
3     1         13.0  Fri, 04 Jan 2013 00:00:00 GMT        4      1
4     1         10.0  Sat, 05 Jan 2013 00:00:00 GMT        5      1