In [1]:
import pandas as pd

## 1. Attendance Data

In [2]:
attendence= pd.read_csv('untidy_data/attendance.csv')

In [3]:
attendence

,Unnamed: 0,2018-01-01,2018-01-02,2018-01-03,2018-01-04,2018-01-05,2018-01-06,2018-01-07,2018-01-08
0,Sally,P,T,T,H,P,A,T,T
1,Jane,A,P,T,T,T,T,A,T
2,Billy,A,T,A,A,H,T,P,T
3,John,P,T,H,P,P,T,P,P

In [37]:
#Load the attendance.csv file and calculate an attendnace percentage for each student. 
#One half day is worth 50% of a full day, and 10 tardies is equal to one absence.
attendence.columns
attendence= attendence.rename(columns={'Unnamed: 0': 'student'})
attendence

,student,2018-01-01,2018-01-02,2018-01-03,2018-01-04,2018-01-05,2018-01-06,2018-01-07,2018-01-08
0,Sally,P,T,T,H,P,A,T,T
1,Jane,A,P,T,T,T,T,A,T
2,Billy,A,T,A,A,H,T,P,T
3,John,P,T,H,P,P,T,P,P

In [39]:
#attendence.melt(id_vars=['student'], var_name=[1:8], value_name='score')

SyntaxError: invalid syntax (<ipython-input-39-ef461bac20b7>, line 1)

#### 2. Coffee Levels

In [27]:
coffee= pd.read_csv('untidy_data/coffee_levels.csv')

In [30]:
coffee

    hour coffee_carafe  coffee_amount
0      8             x       0.816164
1      9             x       0.451018
2     10             x       0.843279
3     11             x       0.335533
4     12             x       0.898291
5     13             x       0.310711
6     14             x       0.507288
7     15             x       0.215043
8     16             x       0.183891
9     17             x       0.391560
10     8             y       0.189297
11     9             y       0.521502
12    10             y       0.023163
13    11             y       0.235529
14    12             y       0.017009
15    13             y       0.997464
16    14             y       0.058361
17    15             y       0.144644
18    16             y       0.544676
19    17             y       0.594126
20     8             z       0.999264
21     9             z       0.915990
22    10             z       0.144928
23    11             z       0.311495
24    12             z       0.771947
25    13             z       0.398520
26    14             z       0.864464
27    15             z       0.436364
28    16             z       0.280621
29    17             z       0.436677

In [42]:
coffee.pivot(index='hour', columns='coffee_carafe')

              coffee_amount
coffee_carafe             x         y         z
hour
8                  0.816164  0.189297  0.999264
9                  0.451018  0.521502  0.915990
10                 0.843279  0.023163  0.144928
11                 0.335533  0.235529  0.311495
12                 0.898291  0.017009  0.771947
13                 0.310711  0.997464  0.398520
14                 0.507288  0.058361  0.864464
15                 0.215043  0.144644  0.436364
16                 0.183891  0.544676  0.280621
17                 0.391560  0.594126  0.436677

### 3.Cake Recipes

In [43]:
cake= pd.read_csv('untidy_data/cake_recipes.csv')

In [44]:
cake

  recipe:position        225        250        275        300
0        a:bottom  61.738655  53.912627  74.414730  98.786784
1           a:top  51.709751  52.009735  68.576858  50.228470
2        b:bottom  57.095320  61.904369  61.196980  99.248541
3           b:top  82.455004  95.224151  98.594881  58.169349
4        c:bottom  96.470207  52.001358  92.893227  65.473084
5           c:top  71.306308  82.795477  92.098049  53.960273
6        d:bottom  52.799753  58.670419  51.747686  56.183110
7           d:top  96.873178  76.101363  59.571620  50.971626

In [52]:
cake.columns
cake.rename(columns={'recipe:position':'recipe'})
cake['recipe'] = cake.variable.str.extract(r'^(\d+)')

AttributeError: 'DataFrame' object has no attribute 'variable'

In [ ]:
#['year'] = df.variable.str.extract(r'^(\d+)')